@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 228 17% 22%;
    --card: 0 0% 100%;
    --card-foreground: 228 17% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 17% 22%;
    --primary: 218 20% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 1% 75%;
    --secondary-foreground: 228 17% 22%;
    --muted: 0 0% 95%;
    --muted-foreground: 229 18% 53%;
    --accent: 21 84% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 21 84% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 180 5% 90%;
    --input: 180 5% 90%;
    --ring: 218 20% 38%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 228 17% 13%;
    --foreground: 180 1% 75%;
    --card: 228 17% 22%;
    --card-foreground: 180 1% 75%;
    --popover: 228 17% 22%;
    --popover-foreground: 180 1% 75%;
    --primary: 21 84% 63%;
    --primary-foreground: 228 20% 7%;
    --secondary: 218 20% 38%;
    --secondary-foreground: 0 0% 100%;
    --muted: 228 18% 18%;
    --muted-foreground: 180 1% 60%;
    --accent: 21 84% 63%;
    --accent-foreground: 228 20% 7%;
    --destructive: 21 85% 70%;
    --destructive-foreground: 228 20% 7%;
    --border: 228 18% 18%;
    --input: 228 18% 18%;
    --ring: 21 84% 63%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
