@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 95%; /* #F0F2F5 */
    --foreground: 215 28% 21%; /* #293241 */
    --card: 0 0% 100%;
    --card-foreground: 215 28% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 21%;
    --primary: 231 48% 48%; /* #3F51B5 */
    --primary-foreground: 0 0% 100%;
    --secondary: 206 33% 75%; /* #98c1d9 */
    --secondary-foreground: 215 28% 21%;
    --muted: 220 17% 90%;
    --muted-foreground: 215 28% 45%;
    --accent: 187 100% 42%; /* #00BCD4 */
    --accent-foreground: 0 0% 100%;
    --destructive: 13 86% 62%; /* #ee6c4d */
    --destructive-foreground: 0 0% 100%;
    --border: 220 17% 85%;
    --input: 220 17% 85%;
    --ring: 231 48% 48%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 215 28% 21%; /* #293241 */
    --foreground: 182 81% 93%; /* #e0fbfc */
    --card: 215 28% 25%;
    --card-foreground: 182 81% 93%;
    --popover: 215 28% 21%;
    --popover-foreground: 182 81% 93%;
    --primary: 206 33% 75%; /* #98c1d9 */
    --primary-foreground: 215 28% 21%;
    --secondary: 215 28% 29%;
    --secondary-foreground: 182 81% 93%;
    --muted: 215 28% 29%;
    --muted-foreground: 182 81% 80%;
    --accent: 187 100% 42%; /* #00BCD4 */
    --accent-foreground: 215 28% 10%;
    --destructive: 13 86% 62%; /* #ee6c4d */
    --destructive-foreground: 0 0% 100%;
    --border: 215 28% 29%;
    --input: 215 28% 29%;
    --ring: 206 33% 75%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
